.first-hero{
    background-color: rgb(121, 196, 226);
}
.second-hero{
    background-color: rgb(252, 248, 248);
}
#first-but{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
}

#custom{
    font-size: 37px;
    color: white;
}
#jumbo{
    background-color: rgb(57, 141, 238);
    border-radius: 20px;
    color: white;
}
#jumbo-container{
    border-radius: 10px;
}
#jumbo-butt{
    background-color: white;
    color: rgb(57, 156, 238);
}
#jumbo-but{
    background-color: rgb(57, 156, 238);
    color: white;
}
.parent-container{
    background-image: linear-gradient(to right, rgba(15, 15, 141, 0.541), rgba(17, 0, 255, 0.5)), url(../img/carousel-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
